eshell/*
*~
*.elc
elpa/*
ac-comphist.dat
.mc-lists.el
auto-comp-list/*
url/*
secrets.el
custom.el
tramp
.cask/*
abbrev_defs
request/*
.DS_Store
ido.last
smex-items
games/
var/
projectile-bookmarks.eld